t.tar
extra_todo.tar
manifests/tmp
manifests/t
manifests/g
spec/spec_helper.rb.backup
spec/spec_helper.rb.template
spec/spec_helper_acceptance.rb
backup.tar
Gemfile.lock
t
templates/bk
templates/notes.rkhunter-conf.erb
templates/rkhunter.conf.erb.todo
templates/vars
